/* SITE STYLES
 * ------------------------------------------------ */
// a[href^="tel"] {
//   color: inherit;
//   text-decoration: none;
//   border: none;
// }

// fix the ugly tabs
ul.primary {
  border: none;
  padding: ($fontSize * 2) 0 0;
  margin: 0 0 10px !important;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  list-style: none !important;
  li {
    line-height: 1;
    margin-bottom: 0;
    display: inline-block;
    a,
    a.active {
      transition: all 250ms ease-in-out;
      background-color: $dark-blue;
      color: white;
      padding: 8px 14px;
      border: none;
      display: block;
      text-decoration: none;
    }
    a.active {
      color: $fontColor;
      background-color: $gulf-blue;
    }
    a:hover {
      background-color: $gulf-blue;
      &.active {
        color: white;
      }
    }
  }
  @media(max-width: 560px) {
    &.tabs {
      li {
        display: block;
      }
    }
  }
}

.breadcrumb {
  padding: 0;

  ol {
    margin-left: 0 !important;
    margin-bottom: $fontSize;
    font-size: 12px;
    @media(min-width: $tabletWidth) {
      font-size: 14px;
    }
    @media(min-width: $desktopWidth) {
      font-size: 16px;
    }
  }
  a, a:visited {
    color: shade($gulf-blue, 20%);
  }
  a:hover, a:active, a:focus {
    color: $linkHoverColor;
  }
}

// Drupal message display
div.messages {
  background-image: none;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0;
  font-size: 1.1em;
  overflow: hidden;
  //hide overflow to ensure propper layout on mobile widths if the message is long with no wrap
  &.messages--status {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  &.messages--warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  &.messages--error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: $warning;
  }
}

// Drupal 8 pager markup
nav.pager {
  font: {
    size: 14px;
    weight: $boldWeight;
  }
  text-transform: uppercase;
  a, a:visited {
    background-image: none;
  }
  a:hover, a:active, a:focus {
  }
  ul.pager__items {
    text-align: center;
    li.pager__item {
      &.is-active {
        font-weight: inherit;
        a {
        }
      }
      &.pager__item--first,
      &.pager__item--previous,
      &.pager__item--next,
      &.pager__item--last {
        a {
        }
      }
      &.disabled {
        a {
        }
      }
    }
  }
}

// Drupal progress bar
.progress {
  .bar,
  .progress__bar {
    height: 2.5em;
    background-image: linear-gradient(to right, lighten($dark-blue, 5%), lighten($dark-blue, 25%));
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
    margin: 0 0 10px;
    border-radius: 0;
  }
  .filled,
  .progress__track {
    height: 2.5em;
    background-image: none;
    background-color: lighten($dark-blue, 5%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  }
  .progress__percentage {
    float: right;
  }
}

#content {
  ul,
  ol {
    margin-left: 20px;
    line-height: 1.5;
  }
  ul {
    list-style: disc outside;
    li {
      margin-bottom: 8px;
    }
  }
  ol {
    &.bold {
      span {
      }
    }
    li {
      margin-bottom: 20px;
    }
  }
  .item-list {
    ul,
    ol {
      margin-left: 20px;
      li {
        margin-bottom: 8px;
      }
    }
  }
  table {
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 20px;
    border: none;

    tr.even, tr:nth-child(even) {
      background-color: white;
    }
    tr.odd, tr:nth-child(odd) {
      background-color: tint($coastal-aqua, 80%);
    }
    td,
    th {
      padding: 8px 10px;
    }
    th {
      background-color: white;
      border: none;
      vertical-align: bottom;
      font-weight: $boldWeight;
    }
    caption {
      text-transform: uppercase;
    }
  }
  // wrapping tables with span tag class of table to make responsive
  span.table {
    display: block;
    overflow-x: auto;
  }

  // Comments
  .submitted {
    margin-bottom: 20px;
  }
  .comment {
    .content {
      padding: 1.5em 2em 0;
      border: 1px solid $fontColor; /*display: table-cell;*/
    }
  }
}

// Typesetting extras
sub {
  font-size: 0.6em;
  line-height: normal;
  vertical-align: sub;
}
sup {
  font-size: 0.6em;
  line-height: normal;
  vertical-align: super;
}
code {
  font-family: monospace;
}

.video-embed-field-responsive-video {
  margin-bottom: $fontSize;
}

.video {
  position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  // height: 0;
  // clear: both;
  &:after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }
  iframe,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.component {
  margin: $fontSize 0;
}

.material-icons {
  font-size: inherit;
  vertical-align: sub;
}

figure.media.rectangle-inline {
  display: inline-block;
  width: 100%;
  // margin: 10px 0;
  img {
    margin: auto;
  }
}
